

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	height: 80px;
	width: 100%;
	background-color: yellow;
}

#form-container {
	float: left;
	display: inline;
}


#header img {
	width: 40px;
}

#hamburger {
  height: 40px;
  float: right;
  display: inline;
}

a:hover img {
  background-color: red;
}

/*#drawer {
	width: 40%;
	background-color: white;
	float: left;
}*/

#map {
	height: 100%;
	width: 100%;
	float: right;
}




.nav {
  width: 100%;
    height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;

  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}



/* note put this in media query*/
.nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
   -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
   -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }


