

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	height: 150px;
	width: 100%;

}

#fringe {
  width: 100%;
  height: 150px;
  z-index: -1;
  position: absolute;
  display: inline;
}

#logo {
  height: 120px;
  padding: 15px 0 0 40px ;
}
#form-container {
	float: right;
	display: inline;
  padding-top: 16px;
  padding-right: 40px;
}

input {
    height: 30px;
    width: 230px;
    font-size: large;
  }

#hamburger {
  height: 40px;
  float: right;
  display: inline;
}

h2 {
  color: white;
  padding: 30px 0 0 75px;
}

li {
	padding: 10px;
}
/*#drawer {
	width: 40%;
	background-color: white;
	float: left;
}*/

#map {
	height: 100%;
	width: 100%;
	float: right;
}

.nav {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
  color: #E3137C;
}



/* note put this in media query*/
.nav {
    z-index: 10;
    background-color: #4a7e4a;
    width: 230px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
   -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
   -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }


