* {
  max-width: 1280px;
  margin: auto;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	height: 150px;
  width: 100%;
}

#fringe {
  width: 100%;  /**/
  height: 150px;
  z-index: -1;
  position: fixed;
  display: inline;
}

#logo {
  height: 100px;
  padding: 22px 0 0 45px ;
}

#form-container {
	float: right;
	display: inline;
  padding-top: 58px;
  padding-right: 30px;
}

input {
  height: 30px;
  width: 250px;
  font-size: large;
}

#hamburger {
  height: 40px;
  float: right;
  display: inline;
  padding: 57px 30px 0 0;
}

#hamburger:hover {
  opacity: 0.5;

}

h2 {
  color: white;
  padding: 30px 0 20px 65px;
  font-size: xx-large;
}

ul {
  list-style-type: none;
  padding-left: 25px;
}

li {
  padding: 15px;
  font-size: large;
}

#map {
  position: absolute;
	height: 100%;
	width: 100%;
	float: right;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
  color: #E3137C;
}

.nav {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  background-color: #303453;
  width: 250px;
  position: absolute;
    /* This trasform moves the drawer off canvas. */
   -webkit-transform: translate(-300px, 0);
    transform: translate(-320px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

.nav.open {
   -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.footer {
position: absolute;
 margin: 10px 0px 0px 125px;
  font-size: x-small;
  color: #4c4c4d;
  z-index: 3;
}

@media only screen and (min-width: 401px) and (max-width: 768px) {

#header {
  width: 100%;
  height: 110px;
}

#fringe {
  min-width: 768px;
  height: 110px;
}

#logo {
  height: 70px;
  padding: 23px 0 0 25px;
}

#form-container {
  padding-top: 40px;
  padding-right: 14px;
}

input {
 height: 25px;
  width: 160px;
  font-size: medium;
}

#hamburger {
  padding-top: 43px;
  margin-right: -10px;
  height: 30px;
}

h2 {
  font-size: large;
  padding: 18px 0 15px 45px;
}

ul {
    padding-left: 5px;
    margin: 0;
}

li {
  padding-bottom: 7px;
  font-size: medium;
}

.nav {
  width: 200px;
}

}
@media only screen and (max-width: 400px) {

#header {
  width: 100%;
  height: 75px;
}

#fringe {
  height: 75px;
  min-width: 400px;/* */
}

#logo {
  height: 43px;
  padding: 18px 0 0 15px;
}

#form-container {
  padding-top: 25px;
  padding-right: 15px;
}

input {
 height: 25px;
  width: 120px;
  font-size: small;
}

#hamburger {
  padding-top: 25px;
  margin-right: -10px;
  height: 30px;
}

h2 {
  font-size: large;
  padding: 18px 0 15px 45px;
}

ul {
    padding-left: 15px;
    margin: 0;
}

li {
  padding-bottom: 10px;
  font-size: small;
}

.nav {
  width: 155px;
}

}

